{
  "extends": "standard",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "comma-dangle": "off",
    "semi": 0,
    "space-before-function-paren": "off",
    "sort-imports": "off"
  }
}
