.avatar {
  height: 136px !important;
  width: 136px !important;
  min-height: 136px !important;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 136px !important;
    height: 136px !important;
    object-fit: cover;
  }
}
