.animation-loader {
  position: absolute;
  top: 50vh;
  left: 50%;
  height: 100px;
  width: 200px;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: loader-fadein 0.3s ease-in-out 0.6s both;

  &__lottie {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 280px;
    transform: translate(-50%, -50%);
  }
}

@keyframes loader-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loader-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
