.logo {
  position:absolute;
  width: 100%;
  opacity: 0;
  animation: logo-fadein .6s ease-in-out .3s both;
  transition: all .3s ease-out;
  cursor: pointer;

  &--low {
    width: 200px;
    transform: scale(0.7);
  }
}

@keyframes logo-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
