.logo {
  position:absolute;
  left: 50%;
  width:254px;
  opacity: 0;
  animation: logo-fadein .6s ease-in-out .3s both;
  transition: all .3s ease-in-out .15s;
  transform: translateX(-50%) scale(1);
  cursor: pointer;

  &--low {
    left: space(1);
    transform: translateX(0) scale(0.65);
  }
}

@keyframes logo-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@media (max-width: $media-query-mobile) { 
  .logo{
    transform: translateX(-50%) scale(0.8);
    &--low{
      left: 50%;
      transform: translateX(-50%) scale(0.65);
    }
  }
}

@media (max-width: $media-query-mobile-fold) {
  .logo{
    transform: translateX(-50%) scale(0.6);
    &--low{
      left: 50%;
      transform: translateX(-50%) scale(0.4);
    }
  }
}
