* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: $font-regular;
  font-size:1rem;
  color: $secondary;
  min-height: 100vh;
  margin: 0;
}

h1, h2, h3, strong {
  color: $blue;
  font-weight: $font-bold;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#app {
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: space(1);
  margin:0;
  width: 100%;
  min-height: 100vh;
}