main {
  width: 100%;
  margin:space(1) 0;
  opacity: 0;

  &.show {
    animation: fadein-content .5s ease-in both;
  }
}

@keyframes fadein-content {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}