main {
  width: 100%;
  margin:space(1);
  margin-top:0;
  margin-bottom: space(2.5);
  opacity: 1;
  min-height: 150px;
  transition: height .3s ease-in-out!important;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 320px;
  animation: fadein-content .5s ease-in .3s both;  

  &.load {
    opacity: 0;
    animation: none;
  }
}

@keyframes fadein-content {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: $media-query-mobile) {
  main{
    min-width: 200px;
    font-size: 0.8rem;
    margin:0;
    margin-bottom: space(3);
  }
}
